/* Styling for the main element */
h1.accio#job {
    width: 150px;
    height: 150px;
    background-color: #000000;
}

/* Styling for the paragraph element */
p.hello-accio {
    color: #ffffff;
    margin-left: 32px;
    padding: 10px;
}
